---
interface Props {
  title: string;
  description: string;
  currentPath: string;
}

const { title, description } = Astro.props;

import { ViewTransitions } from "astro:transitions";
import SkipLink from "../components/SkipLink.astro";
import TopNavigation from "../components/TopNavigation.astro";
import "../styles.css";

// Construct the full URL for the og:image
const siteUrl = "https://formfun.dev"; // Replace with your actual site URL
const ogImageUrl = `${siteUrl}/assets/og.png`;
const { currentPath } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌈</text></svg>"
    />
    <title>formfun.dev - {title}</title>
    <ViewTransitions />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:title" content={`formfun.dev - ${title}`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={siteUrl} />
    <meta property="twitter:title" content={`formfun.dev - ${title}`} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImageUrl} />
  </head>
  <body
    class="text-slate-700 bg-white m-4 grid gap-4 md:text-xl"
    style="--top-nav-height: 145px;"
  >
    <SkipLink />
    <TopNavigation currentPath={currentPath} />
    <slot />
  </body>
</html>
